[submodule "sites/all/modules/bakery_user"]
	path = sites/all/modules/bakery_user
	url = https://github.com/dianedouglas/bakery_user.git
[submodule "sites/all/modules/bakery_user_module"]
	path = sites/all/modules/bakery_user_module
	url = https://github.com/geoff-winner/bakery_user_module
[submodule "sites/all/modules/bakery_user_module1"]
	path = sites/all/modules/bakery_user_module1
	url = https://github.com/geoff-winner/bakery_user_module1
[submodule "sites/all/modules/subject_module"]
	path = sites/all/modules/subject_module
	url = https://github.com/geoff-winner/subject_module.git
